{% extends 'base/base.html' %}
{% load static %}

{% block title %}Python Projects Fun - Home{% endblock title %}

{% block body %}
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Hello, world!
                </h2>
                <p>
                    Page dedicated to host python applications, developed just for fun and learning.<br>
                    All codes can be found in my github <a href="https://github.com/paulobueno" target="_blank" >repository</a>, check it out!
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <h4 class="card-header">
                    About the author:
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        <img src="{% static 'img/../../static/img/../../static/img/../../static/img/paulo_bueno.jpg' %}" alt="Paulo's photo" class="img-thumbnail float-left mr-3" style="width: 200px;"/>
                        Paulo is a business administrator and passionate about technology based in São Paulo, Brazil. Works at AMARO, a digitally native fashion brand that sells omnichannel on amaro.com and in digitally immersive brick-and-mortar Guide Shops. Outside AMARO, you can find him playing videogames or skydiving.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock body %}