{% extends 'base/base.html' %}
{% load static %}

{% block title %}Python Projects Fun - Home{% endblock title %}

{% block body %}
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Hello, world!
                </h2>
                <p>
                    Page dedicated to host python applications, developed just for fun and learning.<br>
                    All codes can be found in my github <a href="https://github.com/paulobueno" target="_blank" >repository</a>, check it out!
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <h4 class="card-header">
                    About the author:
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        <img src="{% static 'img/../../static/img/../../static/img/../../static/img/paulo_bueno.jpg' %}" alt="Paulo's photo" class="img-thumbnail float-left mr-3" style="width: 200px;"/>
                        • +10 years’ experience in data analytics<br>
                        • Responsible for solving business problems through the use of technology (SQL, Python and DataViz)<br>
                        • Graduated in Business Administration at FGV (EAESP) and Postgraduated in Data-mining at FIA (Fundação Insituto Administração)<br>
<br>
                        Specialties:<br>
                        • Marketing and Strategic Planning<br>
                        • Analytics, CRM and Modeling<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock body %}